.about {
    background: url("../assets/pedroAugusto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 682px;

    display: flex;

    span {
	    font-size: calc(18px + 1vw);
        font-weight: 700;
        color: var(--yellow);
        margin-bottom: 15px;
        text-align: left;
    }

    strong {
        color: #fff;
        letter-spacing: 0.5px;
    }

    p {
        color: #fff;
        line-height: 25px;
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin: 0 15%;
    text-align: justify;
}

@media (max-width: 800px) {
    .about-content {
        width: 45%;
        margin: 0 10%;
    }
}

@media (max-width: 500px) {
    .about {
        background-color: #070707;
        background-image: url("../assets/pedroAugustoMobile.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto;
        justify-content: center;
        height: 1000px;

        p {
            text-align: justify;
        }
    }

    .about-content {
        width: 80%;
        margin: 10%;
        justify-content: flex-start;
    }
}