.form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 73%;

    label {
        font-family: 'GorditaMedium';
        font-size: calc(12px + 0.75vw);
        color: #fff;
        margin-bottom: 15px;

        span {
            font-family: 'GorditaBold';
            color: var(--green);
        }
    }

    input {
        font-family: 'GorditaMedium';
        font-weight: normal;
        padding: 8px;
        outline: none;
    }

    button {
        font-family: 'GorditaBlack';
        background-color: var(--yellow);

        border: none;
        outline: none;
        padding: 5px;
        margin-top: 15px;
        cursor: pointer;
    }

}

//MOBILE

@media (max-width: 768px) {
    form {
        label {
            font-size: calc(10px + 0.75vw);
        }
        input {
            padding: 4px;
        }
        button {
            margin-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    .form {
        width: 100%;
        justify-content: center;
    }

    
}

@media (max-width: 500px) {
    form {
        label {
            font-size: calc(10px + 1.75vw);
        }
    }
}
