* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #f2be31;
    --green: #34ee7a;
}

@font-face {
	font-family: GorditaBlack;
	src: url("../assets/fonts/GorditaBlack.otf")
}

@font-face {
	font-family: GorditaBold;
	src: url("../assets/fonts/GorditaBold.otf")
}

@font-face {
	font-family: GorditaMedium;
	src: url("../assets/fonts/GorditaMedium.otf")
}

@font-face {
	font-family: GorditaRegular;
	src: url("../assets/fonts/GorditaRegular.otf")
}

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

p, button {
	font-size: calc(9px + 0.5vw);
}

