.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.img-logo img {
    width: 50%;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    img {
        margin-top: -125px;
        width: 50%;
    }
}
