
.icon-section {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    margin-top: -5px;
    padding-top: 50px;
    padding-bottom: 70px;

}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;  

    img {
        width: 30%;
    }

    p {
        text-align: center;
        font-family: 'GorditaMedium';
        margin: 2vw 4.5vw;

        span {
            font-family: 'GorditaBlack';
        }
    }
}

// MOBILE

@media (max-width: 1100px) {
    .icons {
        width: 30%;
    }
}

@media (max-width: 500px) {
    .icon-section {
        flex-direction: column;
        align-items: center;
    }

    .icons {
        width: 70%;
        margin: 25px 0;

        p {
            margin: 3.5vw 4.5vw;
        }
    }

    .icons:first-child {
        margin-top: 0;
    }

    .icons:last-child {
        margin-bottom: 0;
    }
}